/*header*/

body {
    margin: 0;
    font-family: "roboto",sans-serif ;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav ul {

    display:flex;
    list-style:none;
    
}

nav img {
    height: 80px;
}

nav li {
    margin:0 10px 0 20px;
}

/*Main*/

#banner-image
{ height: 450px;
width: 100%;
object-fit:cover;}

#banner-content
{
position: absolute;
top: 5px;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
}

#banner
{
    position: relative;
}

#banner-content img {
    height: 60px;
}
h1{
    color: white;
    font-weight: 400;
    font-size: 26px;
}

/*section*/

#présentation-description
{
    max-width: 700px;
    
}

#information 
{
    display:flex;
    max-width: 700px;
}

#quote

{max-width: 700px;
    margin-top: 30px;
}

#présentation 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

#information article
{
    padding: 10px;
}